<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GUDLFT | Board Clubs</title>
</head>
<body>
    <h1>Here, the board !! </h1>
    <div>
        <table>
            <tr>
               <th>name</th>
               <th>Points</th>
            </tr>
            {% for club in clubs %}
                <tr>
                   <td style="border:1px solid black">{{club['name']}}</td>
                   <td style="border:1px solid black">{{club['points']}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <form>
        <input type="button" value="Go back!" onclick="history.back()">
    </form>
</body>
</html>